.field.is-grouped
    p.control.is-expanded
        label.label.is-normal
            textarea.textarea.is-large(style='max-width:975px' placeholder=getText('index.tab.cli.placeholder') name='extras' id='commandlinearea')
            | #{getText('index.tab.cli.addargs')}  (
            a(href='https://www.sitespeed.io/documentation/sitespeed.io/configuration/#the-options') #{getText('index.tab.cli.clioptions')} 
            | )
    p.control
    button.button.is-primary.is-large(accesskey='s' id='submittest') #{getText('index.button.analyze')} 