extends ./layouts/default.pug

block content
  section.section
    .container
      .level
        .level-item.has-text-centered
          img(src=nconf.get('html:logo:path') width=nconf.get('html:logo:width') alt=nconf.get('html:logo:alt'))
      .level
        .level-item.has-text-centered
          p.control.is-expanded
            label.label.is-large
              | #{message}