body {
  background-color: #0095d2;
}
.label {
  color: #fff;
}
footer {
  background-color: #e1f6fd;
}
.tabs.is-boxed li.is-active a {
  background-color: #0095d2;
  color: #fff;
  font-weight: 700;
}
.tabs a {
  color: #d3d3d3;
  font-weight: 700;
}
td.run-date {
  white-space: nowrap;
}